.hero.is-primary.is-bold {
  background-color: ;
}

.tick line,
path.domain {
  stroke: #bbbbbb;
}

text.axis-title, text.legendTitle {
  font-size: 12px;
  font-weight: bold;
}

#labels text {
  font-size: 11px;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

#color-axis path {
  display: none;
}

.tick text, .legendCells text.label {
  font-size: 9px;
  fill: #666666;
  font-weight: normal;
}

#color-axis line {
  stroke: none;
}

#example-two {
  border-radius: 10px;
  border: 3px solid #000000;
}

/* example of fancy css selection */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes */
#color-axis g.tick:not(:nth-child(2)):not(:last-child) line {
  stroke: black;
  stroke-width: 2;
}

.legendCells circle.swatch {
  fill: white;
  stroke: #888888;
  stroke-width: 2;
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 8px;
  background: #ddd;
  pointer-events: none;
  border: 1px solid #eee;
  border-radius: 10px;
}

text, .tooltip {
  font-family: sans-serif;
  font-size: 10pt;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tick line,
path.domain {
 stroke: #D3D3D3;
}
text.axis-title, text.legendTitle {
  font-size: 12px;
  font-weight: normal;

}
