


text, .tooltip {
  font-family: sans-serif;
  font-size: 10pt;
}

.dim {
  fill-opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 8px;
  background: #ddd;
  pointer-events: none;
  border: 1px solid #eee;
  border-radius: 10px;
  z-index: 999
}

#yAxis g.tick:not(:nth-child(n + 6)) text {
  fill: #165e83;
  font-weight: bold;
}

#yAxis g.tick:nth-child(n + 6) text {
  fill: #bf242a;
  font-weight: bold;
}

#xAxis g.tick text {
  fill: #180614;
  font-weight: bold;
}


text.axis-title, text.legendTitle {
  font-size: 16px;
  font-weight: bold;
}
